@model TMSMVC.ViewModel.Users
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Login",FormMethod.Post))
{
    @Html.AntiForgeryToken()

<form>
    <br />
    <div>
        <label for="exampleInputName">First name</label>
        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", id = "exampleInputName", type = "text", placeholder = "Enter first name" } })
        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
    </div>
    <div>
        <label for="exampleInputLastName">Last name</label>
        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", id = "exampleInputLastName", type = "text", placeholder = "Enter last name" } })
        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
    </div>

    <div>
        <label for="InputUserName">User Name</label>
        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", id = "InputUserName", placeholder = "Enter UserName" } })
        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
    </div>
    <div>
        <label for="exampleInputEmail1">Email address</label>
        @Html.EditorFor(model => model.emailID, new { htmlAttributes = new { @class = "form-control", id = "exampleInputEmail1", placeholder = "Enter Email" } })
        @Html.ValidationMessageFor(model => model.emailID, "", new { @class = "text-danger" })
    </div>
    <div>
        <label for="exampleInputPassword1">Password</label>
        @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control", id = "exampleInputPassword1", placeholder = "Password" } })
        @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
    </div>
    <div>
        <label for="exampleConfirmPassword">Confirm password</label>
        <input class="form-control" id="exampleConfirmPassword" type="password" placeholder="Confirm password">
    </div>
    <br />
    <div>
        <input type="submit" value="Register" class="btn btn-primary btn-block" onclick="return Validate();" />
    </div>

</form>

    <div class="text-center">
        <a class="d-block small mt-3" href="login.html">Login Page</a>
        <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
    </div>
}
<script>
    
    //Valdidation using jquery  
    function validate() {
        var isValid = true;
        if ($('#Name').val().trim() === "") {
            $('#Name').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#Name').css('border-color', 'lightgrey');
        }
        if ($('#Age').val().trim() === "") {
            $('#Age').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#Age').css('border-color', 'lightgrey');
        }
        if ($('#State').val().trim() === "") {
            $('#State').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#State').css('border-color', 'lightgrey');
        }
        if ($('#Country').val().trim() === "") {
            $('#Country').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#Country').css('border-color', 'lightgrey');
        }
        return isValid;
    }  
</script>
